/*===common css====================*/
/*公用样式*/
body {
    font-family: Microsoft YaHei, sans-serif;
    font-size: 14px;
    color: #333;
}

a {
    color: #333;
}

a:hover {
    color: #333;
    text-decoration: none;
}

ul {
    list-style: none;
}

/*使用字体图标的步骤*/
/*定义字体*/
@font-face {
    font-family: "wjs_font_icon";
    src: url('../fonts/MiFie-Web-Font.eot') format('embedded-opentype'),
    url('../fonts/MiFie-Web-Font.svg') format('svg'),
    url('../fonts/MiFie-Web-Font.ttf') format('truetype'),
    url('../fonts/MiFie-Web-Font.woff') format('woff')
}

/*定义自己的图标*/
.wjs_icon {
    font-family: wjs_font_icon;
}

.wjs_icon_phone::before {
    content: "\e908";
}

.wjs_icon_tel::before {
    content: "\e909";
}

.wjs_icon_logo::before {
    content: "\e920";
}

.wjs_icon_word::before {
    content: "\e93e";
}

.wjs_icon_info::before {
    content: "\e903";
}

.wjs_icon_clock::before {
    content: "\e906";
}

.wjs_icon_video::before {
    content: "\e905";
}

/*===model css====================*/
/*模块样式*/

/*顶部通栏*/
.wjs_topBar {
    border-bottom: 1px solid #ccc;
    font-size: 12px;
}

.wjs_topBar .container {
}

.wjs_topBar .container .row {
}

/*.wjs_topBar .container .row > div{
    height: 40px;
    border-left: 1px solid #ccc;
}
.wjs_topBar .container .row > div:first-child{
    border-left: none;
}*/

/*扩展一些选择器 + ~  结构性选择器 */

/*.wjs_topBar .container .row > div{
    height: 40px;
}
.wjs_topBar .container .row > div + div{
    border-left: 1px solid #ccc;
}*/

.wjs_topBar .container .row > div {
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.wjs_topBar .container .row > div ~ div {
    border-left: 1px solid #ccc;
}

.wjs_topBar .btn_register {
    background: #e92322;
    padding: 3px 12px;
}

.wjs_topBar .btn_login {
    color: #333;
}

.wjs_topBar .btn_login:hover {
    color: #333;
    text-decoration: none;
}

/*手机微金所*/
.wjs_app {
    position: relative;
    display: block;
    z-index: 10000;
}

.wjs_app img {
    display: none;
}

.wjs_app:hover img {
    display: block;
    position: absolute;
    left: 50%;
    top: 40px;
    margin-left: -60px;
    border: 1px solid #ccc;
    border-top: none;
}

/*导航条*/
.wjs_nav {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
}

.wjs_nav .wjs_icon_logo {
    font-size: 50px;
    color: #e92322;
    line-height: 50px;
    vertical-align: middle;
}

.wjs_nav .wjs_icon_word {
    font-size: 36px;
    color: #333;
    line-height: 50px;
    vertical-align: middle;
}

.wjs_nav .navbar-brand {
    color: #777;
    height: 80px;
    line-height: 50px;
}

.wjs_nav .navbar-brand:hover,
.wjs_nav .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}

.wjs_nav .navbar-text {
    color: #777;
}

.wjs_nav .navbar-nav > li > a {
    color: #777;
    height: 80px;
    line-height: 50px;
}

.wjs_nav .navbar-nav > li > a:hover,
.wjs_nav .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 3px solid #e92322;
}

.wjs_nav .navbar-nav > .active > a,
.wjs_nav .navbar-nav > .active > a:hover,
.wjs_nav .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #fff;
    border-bottom: 3px solid #e92322;
}

.wjs_nav .navbar-nav > .disabled > a,
.wjs_nav .navbar-nav > .disabled > a:hover,
.wjs_nav .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}

.wjs_nav .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
    margin-bottom: 23px;
}

.wjs_nav .navbar-toggle:hover,
.wjs_nav .navbar-toggle:focus {
    background-color: #ddd;
}

.wjs_nav .navbar-toggle .icon-bar {
    background-color: #888;
}

.wjs_nav .navbar-collapse,
.wjs_nav .navbar-form {
    border-color: #e7e7e7;
}

.wjs_nav .navbar-nav > .open > a,
.wjs_nav .navbar-nav > .open > a:hover,
.wjs_nav .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

@media (max-width: 767px) {
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }

    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }

    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}

.wjs_nav .navbar-link {
    color: #777;
}

.wjs_nav .navbar-link:hover {
    color: #333;
}

.wjs_nav .btn-link {
    color: #777;
}

.wjs_nav .btn-link:hover,
.wjs_nav .btn-link:focus {
    color: #333;
}

.wjs_nav .btn-link[disabled]:hover,
fieldset[disabled] .wjs_nav .btn-link:hover,
.wjs_nav .btn-link[disabled]:focus,
fieldset[disabled] .wjs_nav .btn-link:focus {
    color: #ccc;
}

/*轮播图*/
.wjs_banner {
}

.wjs_banner .pc_img {
    display: block;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.wjs_banner .m_img {
    display: block;
    width: 100%;
}

.wjs_banner .m_img img {
    display: block;
    width: 100%;
}

/*信息模块*/
.wjs_info {
    padding: 50px 0;
    border-bottom: 1px solid #ccc;
}

.wjs_info .container {
    width: 910px;
}

/*怎么样在小屏设备 768-992 宽度100% 或者 750px*/
@media (max-width: 992px) and (min-width: 768px) {
    .wjs_info .container {
        width: 750px;
    }
}

.wjs_info .container > div {
    padding: 15px 0;
}

.wjs_info .wjs_icon_info {
    font-size: 30px;
}

/*预约*/
.wjs_book {
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}
.wjs_book .container {
    width: 910px;
}
/*怎么样在小屏设备 768-992 宽度100% 或者 750px*/
@media (max-width: 992px) and (min-width: 768px) {
    .wjs_book .container {
        width: 750px;
    }
}
/*超小屏*/
@media (max-width: 768px) {
    .wjs_book .container {
        width: 100%;
    }
}
.wjs_book .wjs_icon_clock{
    font-size: 24px;
}
.wjs_book .wjs_icon_video{
    font-size: 30px;
}
.wjs_book .wjs_book_link{
    color: #e92322;
    border-bottom: 1px dashed #e92322;
}
.wjs_book .wjs_book_video:hover{
    color: #e92322;
}



.pg-section {
  padding-top: 70px;
  padding-bottom: 70px;
}
.pg-title {
  font-size: 2.5em;
  color: #348bcc;
  text-align: center;
}
.pg-sub-title {
  font-size: 1.5em;
  text-align: center;
  margin-top: 10px;
}
.hx-pro-list {
  margin-top: 40px;
}
.hx-pro-list li {
  float: left;
  width: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 800px;
  position: relative;
  z-index: 1;
}
.hx-pro-list li a {
  display: block;
  padding: 32% 10%;
  position: relative;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  border-radius: 10%;
  color: #ffffff;
}
.hx-pro-list li a:hover .bg {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-box-shadow: 0 0 0 rgba(100, 100, 100, 0.5);
  -moz-box-shadow: 0 0 0 rgba(100, 100, 100, 0.5);
  -ms-box-shadow:0 0 0 rgba(100, 100, 100, 0.5);
  box-shadow: 0 0 0 rgba(100, 100, 100, 0.5);
}
.hx-pro-list li .bg {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transform-origin: center center;
  background-repeat: no-repeat;
  background-position: center;
  /*Mozilla*/
  -moz-background-size: 100% 100%;
  /*Webkit*/
  -webkit-background-size: 100% 100%;
  /*Oprea*/
  -o-background-size: 100% 100%;
  /*W3c��׼*/
  background-size: 100% 100%;
  -webkit-transform: rotateY(30deg);
  -moz-transform: rotateY(30deg);
  -ms-transform: rotateY(30deg);
  -o-transform: rotateY(30deg);
  transform: rotateY(30deg);
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-box-shadow: 10px 10px 10px rgba(100, 100, 100, 0.5);
  -moz-box-shadow: 10px 10px 10px rgba(100, 100, 100, 0.5);
  -ms-box-shadow:10px 10px 10px rgba(100,100,100,0.5);
  -o-box-shadow: 10px 10px 10px rgba(100,100,100,0.5);
  box-shadow: 10px 10px 10px rgba(100, 100, 100, 0.5);
  -webkit-border-radius: 8%;
  -moz-border-radius: 8%;
  -ms-border-radius:8%;
  border-radius: 8%;
}
.hx-pro-list header {
  font-size: 1.4286em;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 20px;
  position: relative;
}
.hx-pro-list p {
  height: 85px;
  padding-left: 15%;
  padding-right: 20%;
  margin-top: 20px;
  overflow: hidden;
  font-size: 1.2857em;
}
.hx-pro-list .icon {
  display: block;
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.hx-pro-list .line {
  height: 5px;
  margin-top: 20px;
  background: url('../images/lineBg.png') no-repeat center;
  /*Mozilla*/
  -moz-background-size: 90% auto;
  /*Webkit*/
  -webkit-background-size: 90% auto;
  /*Oprea*/
  -o-background-size: 90% auto;
  /*W3c��׼*/
  background-size: 90% auto;
}
.hx-pro-list .orange-item .bg {
  background-image: url('../images/bgList01.png');
}
.hx-pro-list .blue-item .bg {
  background-image: url('../images/bgList02.png');
}
.hx-pro-list .green-item .bg {
  background-image: url('../images/bgList03.png');
}
.hx-pro-list .red-item .bg {
  background-image: url('../images/bgList04.png');
}
@media screen and (max-width: 960px) {
  .hx-pro-list .icon {
    width: 45px;
    height: 45px;
  }
  .hx-pro-list .line {
    margin-top: 15px;
  }
  .hx-pro-list header {
    font-size: 1.2857em;
    margin-top: 15px;
  }
  .hx-pro-list p {
    font-size: 1.143em;
    height: 85px;
  }
}
@media screen and (max-width: 767px) {
  .pg-section {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .pg-title {
    font-size: 1.5em;
  }
  .pg-sub-title {
    font-size: 1.3em;
  }
  .hx-pro-list li {
    width: 50%;
    padding: 5% 5px;
  }
  .hx-pro-list li a {
    padding-top: 20%;
    padding-bottom: 20%;
  }
}